<div class="absolute-center">
  <form>
    <div class="input-field">
      <i class="material-icons prefix">perm_identity</i>
      <input id="username" type="text">
      <label for="username">Gebruikersnaam</label>
    </div>
    <div class="input-field">
      <i class="material-icons prefix">lock</i>
      <input id="password" type="password">
      <label for="password">Wachtwoord</label>
    </div>
    <div class="valign-wrapper">
      <button class="btn waves-effect waves-light center-block" type="submit" name="login">
        Inloggen
      </button>
    </div>
  </form>
</div>

