<div class="navbar-fixed">
  <nav>
    <a data-activates="slide-out" class="button-collapse show-on-large"><i
      class="material-icons">menu</i></a>
    <div class="container">
      <div class="nav-wrapper">
        <a class="page-title">Angular 2</a>
      </div>
    </div>
  </nav>
</div>

<ul id="slide-out" class="side-nav">
  <li>
    <div class="userView">
      <div class="background">
        <img src="../../assets/img/mat-background.jpg"/>
      </div>
      <img class="circle"
           src="./assets/img/user_icon.png"/>
      <a href="#"><span class="white-text name">John Doe</span></a>
      <a href="#"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/"><i class="material-icons">info_outline</i>Informatie</a>
  </li>
  <li>
    <a routerLink="/nieuws"><i class="material-icons">announcement</i>Nieuws</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/plaatsen"><i class="material-icons">list</i>Plaatsen</a>
  </li>
  <li>
    <a><i class="material-icons">schedule</i>Agenda</a>
  </li>
  <li>
    <a><i class="material-icons">message</i>Berichten</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a><i class="material-icons">settings</i>Instellingen</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/inloggen"><i class="material-icons">perm_identity</i>Inloggen</a>
  </li>
  <li>
    <a routerLink="/registreren"><i class="material-icons">description</i>Registreren</a>
  </li>
  <li>
    <a><i class="material-icons">power_settings_new</i>Uitloggen</a>
  </li>
</ul>
