<div class="search-results"
     infiniteScroll
     [infiniteScrollDistance]="scrollDistance"
     (scrolled)="onScroll()">
  <div class="card-panel z-depth-3" *ngFor="let newsArticle of newsArticles">
    <h4 class="card-title">{{newsArticle.title}}</h4>
    <p>{{newsArticle.content}}</p>
  </div>
  <div *ngIf="loading" class="center-align mar10-top">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
