<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="input-field">
    <i class="material-icons prefix">perm_identity</i>
    <input id="email" type="text"
           formControlName="email">
    <label for="email">E-mail address</label>
    <div *ngIf="formErrors.email">
      {{ formErrors.email }}
    </div>
  </div>
  <div class="input-field" formGroupName="password">
    <i class="material-icons prefix">lock</i>
    <input id="password" type="password" formControlName="password">
    <label for="password">Password</label>
    <div *ngIf="formErrors.password">
      {{ formErrors.password }}
    </div>
  </div>
  <div class="input-field" formGroupName="password">
    <i class="material-icons prefix">lock</i>
    <input id="password2" type="password" formControlName="password2">
    <label for="password2">Password again</label>
    <div *ngIf="formErrors.password2">
      {{ formErrors.password2 }}
    </div>
  </div>
  <div class="valign-wrapper">
    <button class="btn waves-effect waves-light center-block" type="submit" [disabled]="registerForm.invalid">
      Register
    </button>
  </div>
</form>
